doctype
html
  head
    link(rel="stylesheet" href="/base/base.css")
    link(rel="stylesheet" href="theme.css")
  body.h4.tac
    .slideshow
      != yield
    script(src="/base/base.js")
    script(src="theme.js")